---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    <div style="text-align: center">
      <script id="_wauh7r">
        var _wau = _wau || [];
        _wau.push(["map", "wja9ewng8g", "h7r", "250", "125", "night", "cross-pink"]);
      </script>
      <script async src="https://waust.at/m.js"></script>
    </div>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
