---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    <div style="text-align: center">
      <script
        type="text/javascript"
        id="mmvst_globe"
        src="https://mapmyvisitors.com/globe.js?d=qItcZeIrzR30_-3q-x3k__i0H3g_JSW1iE6fnOz0oLM">
      </script>
    </div>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
